.MuiPagination-root {
  ul {
    li {
      &:first-child {
        button {
          background-color: transparent;
          border-radius: 0.5rem;
          border: 1px solid #c5cdd4;
        }
      }
      &:last-child {
        button {
          background-color: transparent;
          border-radius: 0.5rem;
          border: 1px solid #c5cdd4;
        }
      }

      .Mui-selected {
        background-color: gba(0, 0, 0, 0.08);
        border-radius: 0.5rem;
        border: 1px solid #c5cdd4;
      }

      button {
        border: none;
      }
    }
  }
}

.pagination-row-dropdown {
  margin-left: 1.09rem;
  width: 3.59951rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e2e2ea;
  display: flex;
  .pagination-row-text {
    width: 2.05688rem;
    height: 100%;
    border-right: 2px solid #e2e2ea;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: #464646;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 0.00625rem;
    }
  }
  .pagination-row-arrows {
    width: calc(100% - 2.05688rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.pagination-container{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
